@font-face {
  font-family: Centra;
  src: url('./images/font/CentraNo2-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Centra;
  src: url('./images/font/CentraNo2-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Centra;
  src: url('./images/font/CentraNo2-Book.ttf');
  font-weight: 400;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  /* background-color: #121212 !important; */
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.img {
  width: 100%;
  /* height: auto; */
  font-size: x-large;
  color: #fff;
  /* border: 2px solid red; */

}

/* .img:hover{
  width: 75%;
  height: auto;
  /* color: #fff; 
  color: #121212;
  border: 2px solid red;
} */

button {
  border: 0;
  background-color: transparent;
}

/* 
input:focus, textarea:focus, select:focus {
  outline: none;
} */

@media (min-width:1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
}

nav.navbar.scrolled {
  padding: 0px 0;
  /* background-color: #121212; */
  background-color: rgb(204, 10, 36);
  /* background-color: rgb(221, 255, 127); */
}

nav.navbar a.navbar-brand {
  width: 9%;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
}

span.navbar-text {
  display: flex;
  align-items: center;
}

.social-icon {
  display: inline-block;
  margin-left: 14px;
}

.social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
  transform: scale(1);
}

.social-icon a p {
  width: 100%;
  margin-top: 20px;
  /* height: 70px; */
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.social-icon a:hover p {
  /* background-color: #fff; */
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

.navbar-text button {
  font-weight: 700;
  color: white;
  border: 1px solid #fff;
  padding: 16px 30px;
  font-size: 18px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.navbar-text button span {
  z-index: 1;
  color: #000;
}

.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: orangered;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
  color: #000;
}
#cont {
  color: white;
}
#cont:hover{
  color: #000;
}
#resume{
  color: #fff;
  font-size: 18px;
  font-weight: 300px;
}
#resume:hover{
 color: black;
   /* background-color: #fff; */
}

.navbar-text button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}

nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid #fff;
}

nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: #fff;
  top: 0;
  left: 0;
  content: '';
  z-index: 2;
  transition: all 300ms linear;
}

nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: #fff;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

/* Banner css start */
.myimage {
  height: 380px;
  width: 400px;
  border-radius: 50%;
  margin-left: 15%;
  /* position: fixed; */

}

.banner {
  margin-top: 0;
  padding: 200px 0 100px 0;
  /* background-image: url('./images/myimage/bg.jpg'); */
  /* background-image: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(20,20,20,1) 35%, red 100%);
   */
  background-image: linear-gradient(rgb(121, 18, 19), rgb(49, 11, 11), rgba(0, 0, 0, 1));
  /* background-image:black; */
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}

.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}

.banner p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}

.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}

.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}

.banner button:hover svg {
  margin-left: 25px;
}

/* .banner img {
  animation: updown 3s linear infinite;
} */
@keyframes updown {
  0% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(-20px);
  }
}

#resume2{
  font-size: 30px;
  
  border: 2px solid orangered;
  padding: 10px;
  border-radius: 5px;
  /* color: #121212; */
}
#resume2:hover{
  background-color: orangered;
 }

.txt-rotate>.wrap {
  border-right: 0.08em solid #666;
}

/* -------------------------------skills start ---------------------------------------*/
.skill {
  padding: 0 0 50px 0;
  position: relative;
  /* border: 2px solid red; */
  /* background-image: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(20,20,20,1) 35%, red 100%); */
  /* background-image: linear-gradient(  red , rgba(0,0,0,1) , rgba(20,20,20,1) );
  bgc */
  background-color: #000;
  /* background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(20, 20, 20, 1), rgb(1, 22, 23)); */

}

.skill-bx {
  /* background: #151515; */

  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: 70px;
   border: 2px solid red; 
  box-shadow: red 0px 22px 70px 4px;


}

.skill h2 {
  font-size: 45px;
  font-weight: 700;
}

.skill p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 75px 0;
}

.skill-slider {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.skill-slider .item img {
  width: 50%;
  margin: 0 auto 15px auto;
}

.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}
#node:hover{
  box-shadow: orangered 0px 50px 100px -20px, orangered 0px 30px 60px -30px, orangered 0px -2px 6px 0px inset;
}
.item img:hover{
  box-shadow: orangered 0px 50px 100px -20px, orangered 0px 30px 60px -30px, orangered 0px -2px 6px 0px inset;
}

/* About  */

#achild-parent {
  margin: 2% 15%;
  width: 70%;
  border: 5px solid red;
  border-style: dashed;
  text-align: justify;
  padding: 5%;
  /* text-decoration: wavy; */
  font-size: 18px;
  color: #B8B8B8;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#about-parent {
  text-align: center;
  padding: 20px;
  font-size: 45px;
  font-weight: 700;
  color: #fff;
  /* margin-block-start: 1em; */
  /* margin-block-end: 1em; */
  background-color: #000;
}


/************---------------------- Projects Css -------------------------************/

#project-parent {
  /* border: 2px solid green; */
  padding-top: 30px;
  /* background-color: #fff; */
background-color: #000;
  /* background-image: linear-gradient(rgb(1, 22, 24), rgba(0, 0, 0, 1), rgba(20, 20, 20, 1)); */

}

#projects h1 {
  text-align: center;
  padding: 20px;
  font-size: 45px;
  font-weight: 700;
  color: #fff;
}

#display {
  /* border: 2px solid yellowgreen; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


#video-links {
  margin: 2% 5% 2% 25%;
  /* border: 3px solid red; */
  width: 70%;
  height: 300px;
  border: 5px solid red;

  border-style: dashed;
  padding: 15px;
  /* box-shadow: red 0px 14px 28px, red 0px 0px 6px 6px; */
  /* box-shadow: red 0px 19px 18px; */

}

#video-links2 {
  margin: 2% 25% 2% 5%;
  /* border: 3px solid red; */
  width: 70%;
  height: 300px;
  border: 5px solid red;

  border-style: dashed;
  padding: 15px;

}

#video-links3 {
  margin: 2% 5% 2% 25%;
  /* border: 3px solid red; */
  width: 70%;
  height: 300px;
  border: 5px solid red;

  border-style: dashed;
  padding: 15px;

}

#link {
  opacity: 0;
  /* border: 2px solid green; */
  width: 30%;
  margin: 0% 45%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;

}

#link2 {
  opacity: 0;
  /* border: 2px solid green; */
  width: 30%;
  margin: 0% 27%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;

}

#link3 {
  opacity: 0;
  /* border: 2px solid green; */
  width: 30%;
  margin: 0% 45%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;

}

#play {
  /* border: 4px solid blue; */
  width: 100%;
  margin-right: 10%;
}


#play:hover #link {
  opacity: 1;
}

#play:hover #link2 {
  opacity: 1;
}

#play:hover #link3 {
  opacity: 1;
}

.icon {
  font-size: xx-large;
  /* color: rgb(86, 214, 225); */
  cursor: pointer;
  color: rgb(159, 6, 29);
}

.icon:hover{
  color: blue;
}

/* --------------------------------contact --------------------------------------------*/

#icona {
  /* height: 100%; */
  width: 100%;
  margin: 5% 5% 0 5%;
  border-radius: 80px 0 0 80px;
}

#form-parent {
  /* border: 3px solid #4A2FBD; */
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #000;
}

#form-parent h1 {
  text-align: center;
  padding: 20px;
  font-size: 45px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 3%;
}

#c-parent {
  /* border: 0px solid yellow; */
  box-shadow: red 0px 10px 33px 4px;

  display: flex;
  padding: 30px;
  margin: 0% 15% 5% 10%;
  border-radius: 80px;
  align-items: center;
}

#c-parent div:nth-child(1) {
  width: 50%;
  /* border: 0px solid blue; */
  margin-right: 30px;
}


#child {
  width: 50%;
  padding: 20px;
}

#form p {
  margin-bottom: -0.1px;
  margin-top: 9px;
  color: red;
}

#form input {
  width: 80%;
  height: 40px;
  border: 2px red;
  border-radius: 20px;
  outline: none;
  padding-left: 20px;
}

#form input::placeholder {
  color: #000;

}

#form input:focus,
input:active {
  border-color: transparent;
  border-bottom: 4px solidred;
}

#form textarea {
  width: 80%;
  height: 100px;
  border-radius: 20px;
  outline: none;
  padding-left: 20px;
}

#form textarea:focus,
textarea:active {
  border-color: transparent;
  border-bottom: 4px solid red;
}

#button {
  color: #fff;
  height: 50px;
  background-color: red;
}
#button:hover{
  background-color:orangered
}





/* --------------------------------footer--------------------------------------------------s */


#footer-parent{
  background-color: #000;
}
#footer {
  padding: 0% 0 3% 0;
  margin: 0 35%;
  /* border: 2px solid green; */
  text-align: center;
}
#icons{
  display: flex;
  gap: 15%;
  margin: 0 30%;

}

.footer-icons {
  color: #fff;
  text-decoration: none;
  font-size: 40px;
  /* margin-right: 40px; */
}

#ref {
  text-decoration: none;
}